
<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h2><%= device_name %></h2>
    <h3><%= timestamp %></h3>
    <h1>
      <%= celsius %> &deg;C
      <%= fahrenheit %> &deg;C
    </h1>
  </body>
</html>
