<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="../../favicon.ico"-->

    <title>Home</title>

    <!-- Bootstrap core CSS -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	  <!-- Optional theme -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="http://getbootstrap.com/assets/css/docs.min.css">

    <style type="text/css">
      .bs-docs-header {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 24px;
        text-align: left;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
      
      .x.axis path {
        display: none;
      }
      
      .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
      }

      #device1-chart {
        width: 100%;
      }


    </style>

    <script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>

  </head>

  <body>

  	<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  		<div class="container">
  			<div class="navbar-header">
  				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
  					<span class="sr-only">Toggle navigation</span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a href="/" class="navbar-brand">Tioga</a>
  			</div>
  			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
  				<ul class="nav navbar-nav">
  					<li class="active"><a href="#">Dashboard</a></li>
  				</ul>
  				<ul class="nav navbar-nav navbar-right">
  					<li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
  				</ul>
  			</nav>
  		</div>
  	</header>


    <!-- Docs page layout -->
    <div class="bs-docs-header" id="content">
      <div class="container">
        <h1>Christmas tree</h1>
      </div>
    </div>

    <div class="container bs-docs-container">

      <div class="row">
        <div class="col-md-9" role="main">
          <div class="bs-docs-section">
<!-- 
            <h1 id="temperature" class="page-header">Signals received</h1>
            <p class="lead"></p>
            <h3 id="temperature-data">Temperature sensors</h3>
 -->            

            <div class="bs-callout bs-callout-info" id="device1">
              <h4>Lights</h4>
              <p>
                <div class="btn-group" role="group" aria-label="...">
                  <button id="on-btn" type="button" class="btn btn-success btn-lg">On</button>
                  <button id="off-btn" type="button" class="btn btn-danger btn-lg">Off</button>
                </div>
              </p>

            </div>

          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script>
      $(function() {

        var db = new Firebase('https://vivid-fire-6554.firebaseio.com/');

        $("#on-btn").click(function() {
          db.child('devices/f0f0f0f0d2/xmas').set(1);
        });

        $("#off-btn").click(function() {
          db.child('devices/f0f0f0f0d2/xmas').set(0);
        });

      });
    </script>


  </body>

</html>
